@import '../../pages/Events.scss';

.events-list__item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgb(10, 184, 190);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 1.4rem;
        color: rgb(29, 150, 156)
    }

    h2 {
        margin: 0;
        font-size: 1rem;
        color: rgb(123, 115, 131);

    }

    button {
        @extend .creatEvent-btn;
        font-size: .8rem;
        padding: 3px;
    }
    p{
        margin: 0;
        font-size: .8rem;
    }

}